In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
df = pd.read_csv('Social_Network_Ads.csv')

In [4]:
df.sample(5)

     Age  EstimatedSalary  Purchased
363   42            79000          0
296   42            73000          1
117   36            52000          0
79    26            17000          0
278   52            38000          1

In [8]:
from sklearn.model_selection import train_test_split
X_train, X_test, Y_train, Y_test = train_test_split(df.drop('Purchased', axis=1),
                                                    df['Purchased'],
                                                    test_size = 0.3,
                                                    random_state =0)
X_train.shape, X_test.shape

((280, 2), (120, 2))

In [13]:
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()
scaler.fit(X_train)   # here we calculation paremeter which we used to transform or scaling 

X_train_scaled = scaler.transform(X_train)
X_test_scaled = scaler.transform(X_test)